.buttons {
  margin-bottom: 20px;
}

.btn {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
  display: inline-block;
  cursor: pointer;
  border: none;
  color: #000;
  background: #fff;
}

.btn--call, .btn--call2 {
  border: 1px solid #98B327;
  background: #fff;
  padding: 4.5px 12.8px 4.5px 12.8px;
}

.btn--call:hover, .btn--call2:hover {
  background-color: #d4d0c8;
}

.btn--call2 {
  padding: 12.5px 51.3px 12.5px 51.3px;
}

.btn--lg, .btn--lm, .btn--ld, .btn--mx, .btn--lp {
  color: #fff;
  background-color: #9c3;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
}

.btn--lg:hover, .btn--lm:hover, .btn--ld:hover, .btn--mx:hover, .btn--lp:hover {
  background: #a5d24b;
}

.btn--lg:active, .btn--lm:active, .btn--ld:active, .btn--mx:active, .btn--lp:active {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2);
}

.btn--lg {
  padding: 19.5px 51.75px 19.5px 51.75px;
}

.btn--lm {
  padding: 19.5px 37px 19.5px 37px;
}

.btn--ld {
  font-size: 14px;
  padding: 17px 45px 17px 45px;
}

.btn--ld:hover {
  background: #a5d24b;
}

.btn--mx {
  font-size: 14.5px;
  padding: 16px 39px 16px 39px;
}

.btn--lp {
  padding: 13.5px 27.2px 13.5px 27.2px;
}

body {
  background: #f1f1f1;
}
