.buttons {
  margin-bottom: 20px;
}

.btn {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
  display: inline-block;
  cursor: pointer;
  border: none;
  color: #000;
  background: #fff;
}

.btn--call, .btn--call2 {
  border: 1px solid #98B327;
  background: #fff;
  padding: 4.5px 12.8px 4.5px 12.8px;
}

.btn--call:hover, .btn--call2:hover {
  background-color: #d4d0c8;
}

.btn--call2 {
  padding: 12.5px 51.3px 12.5px 51.3px;
}

.btn--lg, .btn--lm, .btn--ld, .btn--mx, .btn--lp {
  color: #fff;
  background-color: #9c3;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
}

.btn--lg:hover, .btn--lm:hover, .btn--ld:hover, .btn--mx:hover, .btn--lp:hover {
  background: #a5d24b;
}

.btn--lg:active, .btn--lm:active, .btn--ld:active, .btn--mx:active, .btn--lp:active {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2);
}

.btn--lg {
  padding: 19.5px 51.75px 19.5px 51.75px;
}

.btn--lm {
  padding: 19.5px 37px 19.5px 37px;
}

.btn--ld {
  font-size: 14px;
  padding: 17px 45px 17px 45px;
}

.btn--ld:hover {
  background: #a5d24b;
}

.btn--mx {
  font-size: 14.5px;
  padding: 16px 39px 16px 39px;
}

.btn--lp {
  padding: 13.5px 27.2px 13.5px 27.2px;
}

p, div {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Avantgarde Gothic';
  src: url("../fonts/avantgardegothicc-book-webfont.woff2") format("woff2"), url("../fonts/avantgardegothicc-book-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avantgarde Gothic';
  src: url("../fonts/avantgardegothicc-oblique-webfont.woff2") format("woff2"), url("../fonts/avantgardegothicc-oblique-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avantgarde Gothic';
  src: url("../fonts/avantgardegothicc-demi-webfont.woff2") format("woff2"), url("../fonts/avantgardegothicc-demi-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avantgarde Gothic';
  src: url("../fonts/avantgardegothicc-dmoblique-webfont.woff2") format("woff2"), url("../fonts/avantgardegothicc-dmoblique-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneuecyr-light-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tatiana';
  src: url("../fonts/tatianac-webfont.woff2") format("woff2"), url("../fonts/tatianac-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.promo {
  max-width: 100%;
}

.promo__product {
  font-size: 0;
  padding: 0;
}

.product__other {
  text-align: center;
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  position: relative;
}

.product__other .advertising {
  max-width: 100%;
}

.prices {
  font-family: 'Avantgarde Gothic';
  font-style: italic;
  position: absolute;
}

.prices .shoes, .prices .ot {
  color: #FFF;
  font-size: 2vw;
  margin-bottom: 3%;
  font-weight: 300;
}

.prices .price {
  color: #98B327;
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 8%;
  float: left;
  padding-left: 10%;
}

.first {
  background-color: rgba(235, 235, 235, 0.2);
  top: 24%;
  left: 63.5%;
  padding-top: 2.7%;
  width: 31.3%;
}

.second {
  background-color: rgba(2, 2, 2, 0.5);
  width: 41.5%;
  top: 62%;
  left: 54.5%;
  padding-top: 3.7%;
}

.the-third {
  background-color: rgba(25, 24, 24, 0.5);
  width: 41.5%;
  width: 45%;
  top: 45%;
  left: 24.5%;
  padding-top: 4.3%;
}

.fourth {
  background-color: rgba(235, 235, 235, 0.21);
  width: 35%;
  top: 30%;
  left: 57.3%;
  padding-top: 4.8%;
}

@media (max-width: 768px) {
  .product__other {
    max-width: 100%;
  }
  .prices .shoes {
    font-size: 6vw;
  }
  .prices .price {
    font-size: 7vw;
  }
  .second {
    top: 50%;
  }
}

body {
  background: #f1f1f1;
}
