.table {
  background-color: #fff;
  width: 100%;
  height: 290px;
  display: table;
   font-family: 'Avantgarde Gothic';
   border-bottom: 1px solid;
}
.td,.tm {
  display: table-cell;
  vertical-align: middle;
  text-align:center;
  padding: 10px;
}
.tm {
  max-width: 20%;
}
.wid {
    color: #67686D;
    font-size: 2.3vw;
    text-align: left;
  }
  .child {
    border: 1px solid #99cc33;
    width: 100%;
  }
  .close:before {
    cursor: pointer;
    font-size: 3vw;
    content: "\2715";
  }
  .m {
    border: 1px solid #99cc33;
    display: inline-block;
    font-size: 2.5vw;
    padding: 13% 17.6%;
  }
  .scrip,.tab {
   color:#99cc33;
   font-size: 2vw;
  } 
  .tab {
    font-size: 1.5vw;
    text-align: left;
    a {
      color:#99cc33;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      display: block;
      font-size: 2vw;
      &:before {
      cursor: pointer;
    font-size: 2vw;
    content: "\2714";
    color: #99cc33;
    margin-right: 7%;
  }
    }
  }
  .total {
     font-family: 'Avantgarde Gothic';
    color: #000;
    font-size: 27px;
    font-weight: 300;
    width: 32%;
    float:right;
    padding: 1%;
    span {
      float: right;
    }
  }
 @media (max-width: 768px) {
  .scrip {
    font-size: 3vw;
  }
  .tab {
    font-size: 2.5vw;
  }
  .child {
  width: 90%
 }
 .total {
  width: 50%;
  font-size: 3vw;
 }
} 
@media (max-width: 520px) {

.td {
  padding: 0;
  display: block;
}
 .child {
  width: 40%
 }
 .wid {
  text-align: center;
  font-size: 4vw;
 }
 .m {
  font-size: 4.5vw;
padding: 4% 5.6%;
 }
 .scrip,.tab {
  font-size: 5vw;
 }
 .close:before {
  font-size: 10vw;
 }
 .tab {
  text-align: center;
  span {
    font-size: 5vw;
    &:before {
      font-size: 7vw;
      margin-right: 3%;
    }
  }
 }
 .total {
  width: 100%;
  font-size: 5vw;
 }
}
