$btn-brand-color:			#9c3;
$btn-black:					#000;
$btn-white:					#fff;
$btn-border-color:			#98B327;
$btn-hover-color-default:	#d4d0c8;
$btn-hover-color-brand:		#a5d24b;



.buttons {
	margin-bottom: 20px;
}
.btn {
	font-family: 'Oswald', sans-serif;
	font-size: 19px;
	display: inline-block;
	cursor:pointer;
	border:none;
	color:$btn-black;
	background: $btn-white;
	&:hover {
		// color:#ffe600;
	}
	&--call,&--call2{
	border: 1px solid $btn-border-color;
	background: #fff;
	padding: 4.5px 12.8px 4.5px 12.8px;
	&:hover {
		background-color: $btn-hover-color-default;
	}
	}
	&--call2 {
	padding:12.5px 51.3px 12.5px 51.3px;
	}
	&--lg,&--lm,&--ld,&--mx,&--lp  {
	color:#fff;
	background-color: $btn-brand-color;
	text-transform: uppercase;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
		&:hover {
			background: $btn-hover-color-brand;
		}
		&:active {
			box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2);
		}
	}
	&--lg {
		padding:19.5px 51.75px 19.5px 51.75px;
	}
	&--lm {
		padding: 19.5px 37px 19.5px 37px;
	}
	&--ld {
		font-size: 14px;
		padding: 17px 45px 17px 45px;
		&:hover {
			background:  $btn-hover-color-brand;
		}
	}
	&--mx {
		font-size: 14.5px;
		padding: 16px 39px 16px 39px;
	}
	&--lp {
		padding: 13.5px 27.2px 13.5px 27.2px;
	}

}