p , div {
	margin: 0;
	padding:0;
}
@font-face {
    font-family: 'Avantgarde Gothic';
    src: url('../fonts/avantgardegothicc-book-webfont.woff2') format('woff2'),
         url('../fonts/avantgardegothicc-book-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Avantgarde Gothic';
    src: url('../fonts/avantgardegothicc-oblique-webfont.woff2') format('woff2'),
         url('../fonts/avantgardegothicc-oblique-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Avantgarde Gothic';
    src: url('../fonts/avantgardegothicc-demi-webfont.woff2') format('woff2'),
         url('../fonts/avantgardegothicc-demi-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Avantgarde Gothic';
    src: url('../fonts/avantgardegothicc-dmoblique-webfont.woff2') format('woff2'),
         url('../fonts/avantgardegothicc-dmoblique-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Tatiana';
    src: url('../fonts/tatianac-webfont.woff2') format('woff2'),
         url('../fonts/tatianac-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}




// =================================================================
.promo {
	max-width: 100%;
	&__product {
		font-size: 0;
		padding: 0;
	}
}
	.product__other {
		text-align: center;
		max-width: 50%;
		display: inline-block;
		vertical-align: top;
		list-style: none;
		position: relative;
		.advertising{
			max-width:100%;
	}
}
.prices {
		
		font-family: 'Avantgarde Gothic';
		font-style: italic;
		position: absolute;
		
	.shoes,.ot {
		color: #FFF;
		font-size: 2vw;
		margin-bottom: 3%;
		font-weight: 300;
	}
	.price {	
		color: #98B327;
		font-size: 3vw;
		font-weight: 700;
		margin-bottom: 8%;
		float: left;
		padding-left: 10%;
	}
}
.first {
		background-color:  rgba(235,235,235,0.2);
		top: 24%;
		left: 63.5%;
		padding-top: 2.7%;
		width: 31.3%;
}
.second {
		background-color:  rgba(2,2,2,0.5);
		width: 41.5%;
		top: 62%;
		left: 54.5%;
		padding-top: 3.7%;
}
.the-third {
		background-color:  rgba(25,24,24,0.5);
		width: 41.5%;
		width: 45%;
		top: 45%;
		left: 24.5%;
		padding-top: 4.3%;
}
.fourth {
		background-color:  rgba(235,235,235,0.21);
		width: 35%;
		top: 30%;
		left: 57.3%;
		padding-top: 4.8%;
}

@media (max-width: 768px) {
	.product__other {
		max-width: 100%;
	}
	.prices {
		.shoes {
		font-size: 6vw;
	}
	.price {
		font-size: 7vw;
	}
	}
	.second {
		top:50%;
	}
	}
	// =============================================================================